.root {
	margin: 10px;
	max-width: 200px;
	text-align: center;
}

.img {
	margin: auto;
	min-height: 150px;
}

.name {
	text-transform: capitalize;
}

.chip {
	text-transform: uppercase;
	color: white;
	margin: 0 1px;
}

.cardContent {
	padding: 0;
}
