.root {
	margin: 10px;
	max-width: 200px;
	text-align: center;
	position: relative;
}

.img {
	margin: auto;
	min-height: 150px;
}

.name {
	text-transform: capitalize;
}

.chip {
	text-transform: uppercase;
	color: white;
	margin: 0 1px;
}

.cardContent {
	padding: 0;
}

.icon {
	position: absolute;
	top: 8px;
	right: 8px;
	color: rgb(97, 255, 0);
}
