.root {
}

.container {
	margin: auto;
	width: 90%;
}

.pokeballCard {
	margin: 20px auto;
}

.badges {
	margin-top: 30px;
	display: inline-flex;
	flex-direction: column;
}

.badgeRoot {
	margin: 10px 0;
}

.badge {
}
