.root {
}

.container {
	position: relative;
	margin: auto;
	width: 90%;
	padding-top: 50px;
}

.pokeballCard {
	margin: 20px auto;
}

.badges {
	display: inline-flex;
	flex-direction: column;
	position: absolute;
	top: 30px;
}

.badgeRoot {
	margin: 10px 0;
}

.sliderContainer {
	width: 80%;
	margin: auto;
}
